/*about_us*/
/*1440*/
.about_us_back_top {
    width: 100%;
    height: 910PX;
    background: url('../img/about_us/about_back.jpg') no-repeat;
    background-position: 40% 100%;
    object-fit: cover;
    position: relative;
}
.about_us_title_wripper {
    position: absolute;
    top:400PX;
left:50%;
transform:translate(-50%, -50%);
width: 100%;

}
.about_us_title_wripper_container {
    width: 50%;    
    margin: 0PX 0 0 280PX;
    position: relative;
}
.about_us_title_wripper h1 {
    font-weight: 300;
font-size: 48PX;
line-height: 100%;
width: 550PX;
}
.about_us_sub_title {
    width: 550PX;
    margin-top: 40PX;
    font-weight: 300;
font-size: 20PX;
line-height: 120%;
position: absolute;
}
.time_line_swipper_wrapper {
    margin-top: 200PX;
}
.time_line_maket {
    display: grid;
    grid-template-columns: 40PX repeat(10,130PX) 40PX;
    justify-content: center;
}
.time_line_item {
    width: 100%;
    height: 50PX;
    border-right: 1px solid #00d1ff;
    border-top: 1px solid #00d1ff;
}
.time_line_item_center {
    height: 100PX;
}
.time_line_item_last {
    border-right: none;
}
.time_line_swipper_container {margin-top: -50PX;}
.time_line_Swiper {
    height: 420PX !important;
    margin-top: 70PX !important;
}
.time_line_Swiper_nav_pag_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.swiper-button-next_time_line_Swiper,
.swiper-button-prev_time_line_Swiper {
    top: auto !important;
    width: 60PX !important;
    height: 15PX !important;
    bottom: -15PX !important;
    z-index: 10 !important;
}
.swiper-button-prev_time_line_Swiper::after {
    content: '' !important;
    background: url('../img/card/arrow_gallery.png') !important;
    width: 60PX !important;
    height: 15PX !important;
    position: absolute;
}
.swiper-button-next_time_line_Swiper::after {
    content: '' !important;
    background: url('../img/card/arrow_gallery.png') !important;
    transform: rotate(180deg);
    width: 60PX !important;
    height: 15PX !important;
    position: absolute;
}
.time_line_Swiper_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.year {
    font-weight: 400;
font-size: 16PX;
color: #00d1ff;
line-height: 130%;
letter-spacing: 0.07em;
text-transform: uppercase;
text-align: center;
}
.time_line_Swiper_content_wr {
    margin-top: 140PX;
    display: grid;
    grid-template-columns: 300PX 410PX 550PX;
    align-items: start;
    justify-content: start;
    width: 100%;
}
.time_line_Swiper_content_wr span {
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00d1ff;
}
.time_line_Swiper_content_wr h2 {
    font-weight: 300;
font-size: 48PX;
line-height: 100%;
color: #00d1ff;
padding: 0;
margin: 0;
}
.time_line_Swiper_content_wr p {
    font-weight: 300;
font-size: 20PX;
color: #00d1ff;
line-height: 120%;
padding: 0;
margin: 0;
}
.work_in_rus_wrapper {
    margin-top: 240PX;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.work_in_rus_wrapper span {
    width: 290PX;
    margin-top: 16PX;
}
.work_in_rus_wrapper_text {
    font-weight: 290;
font-size: 20PX;
line-height: 120%;
    width: 540PX;
}
.work_in_rus_map {
    display: flex;
    flex-direction: column;
    width: 360PX;
    height: 230PX;
    margin-left: 150PX;
    margin-top: -40px;
}
.work_in_rus_map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.work_in_rus_map span {
    font-weight: 400;
font-size: 16PX;
color: #00d1ff;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.work_with_prom {
    display: flex;
    flex-direction: row;
    margin-top: 140PX;
    align-items: flex-start;
    margin-bottom: -100px;
}
.work_with_prom h2 {
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
width: 250PX;
margin-right: 50PX;
padding: 0;
margin-top: 50PX;
}
.work_with_prom_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.work_with_prom_text p {
    font-weight: 300;
font-size: 36PX;
line-height: 100%;
text-transform: uppercase;
padding: 0 30PX;
width: auto;
}
.about_us_title_wripper_container h2 {
    display: none;
}
.hist_screen {
    display: none;
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .about_us_back_top {
        width: 100%;
        height: 600PX;
        background: url("../img/about_us/about_back.jpg") no-repeat;
        background-position: 50% 50%;
        margin: 0 auto;
        background-size: cover;
    }
    .hist_screen {
        display: block;
        font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00d1ff;
margin-top: 60PX;
    }
    .about_us_title_wripper {
        top: 240PX;
    left: 0%;
    width: 100%;
    transform: none;
    }
    .about_us_title_wripper_container {
        margin: 0;
        top: 350PX;
    }
    .about_us_title_wripper_container h2 {
        display: block;
        margin-top: -90PX;
        font-weight: 300;
font-size: 20PX;
line-height: 110%;
margin: -90PX 0 0 0;
padding: 0;
    }
    .about_us_title_wripper_container h1 {
        font-weight: 300;
font-size: 24PX;
line-height: 110%;
margin-top: 220PX;
    }
    .about_us_sub_title {
        font-weight: 300;
font-size: 16PX;
line-height: 120%;
width: 100%;
margin-top: 200PX;
max-width: 350PX;
    }
    .about_us_title_wripper_container {
        display: flex;
        flex-direction: column;
        margin: -400PX 0 0 0PX;

    }
    .time_line_maket {
        grid-template-columns: 30PX repeat(10, 70PX) 30PX;
    }
    .time_line_Swiper_content_wr span {
        display: none;
    }
    .time_line_Swiper_content_wr {
        display: flex;
    }
    .work_in_rus_wrapper span {
        display: none;
    }
    .work_in_rus_wrapper {
        display: flex;
        flex-direction: column;
    }
    .work_with_prom {
        flex-direction: column;
    }
    .time_line_swipper_wrapper {
        margin-top: 40PX;
    }
    .time_line_item {
        height: 20PX;
    }
    .time_line_item_center {
        height: 40PX;
    }
    .time_line_Swiper_content_wr {
        margin-top: 60PX;
    }
    .time_line_Swiper_content_wr h2 {
        font-size: 24PX;
        width: 50%;
    }
    .time_line_Swiper_content_wr p {
        font-size: 16PX;
        width: 50%;
    }
    .work_in_rus_wrapper {
        margin-top: 40PX;
    }
    .work_in_rus_wrapper_text {
        font-size: 16PX;
    }
    .work_in_rus_map {
        margin-left: 0;
        margin-top: 40PX;
    }
    .work_in_rus_map span {
        display: block;
    }
    .work_with_prom {
        width: 540PX;
        margin: 90PX auto -40PX auto;
    }
    .work_with_prom h2 {
        width: 60%;
    }
    .work_with_prom_text p {
        font-size: 20PX;
        padding: 0;
    }
}
/*360*/
@media only screen and (max-width: 767px) {
    .about_us_back_top {
        width: 100%;
        height: 600PX;
        background: url("../img/about_us/about_back768.jpg") no-repeat;
        background-position: 50% 100%;
        margin: 0 auto;
    }
    .hist_screen {
        display: block;
        font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00d1ff;
margin-top: 60PX;
    }
    .about_us_title_wripper {
        position: absolute;
        top: 190PX;
        left: 0;
        transform: none;
        width: 100%;
    } 
    .about_us_title_wripper_container h2 {
        display: block;
        margin-top: -90PX;
        font-weight: 300;
font-size: 20PX;
line-height: 110%;
padding: 0;
    }
    .about_us_title_wripper_container h1 {
        font-weight: 300;
font-size: 24PX;
line-height: 110%;
margin-top: 200PX;
width: 100%;
    }
    .about_us_sub_title {
        font-weight: 300;
font-size: 16PX;
line-height: 120%;
width: 100%;
margin-top: 200px;
max-width: 350PX;
    }
    .about_us_title_wripper_container {
        display: flex;
        flex-direction: column;
        margin: 0PX 0 0 0PX;
        width: 100%;
    }
    .time_line_maket {
        grid-template-columns: 4% repeat(10, 9.2%) 4%;
    }
    .time_line_Swiper_content_wr span {
        display: none;
    }
    .time_line_Swiper_content_wr {
        display: flex;
    }
    .work_in_rus_wrapper span {
        display: none;
    }
    .work_in_rus_wrapper {
        display: flex;
        flex-direction: column;
    }
    .work_with_prom {
        flex-direction: column;
    }
    .time_line_swipper_wrapper {
        margin-top: 40PX;
    }
    .time_line_item {
        height: 20PX;
    }
    .time_line_item_center {
        height: 40PX;
    }
    .time_line_Swiper_content_wr {
        margin-top: 30PX;
        flex-direction: column;
        
    }
    .time_line_Swiper_content_wr h2 {
        font-size: 24PX;
        width: 100%;
        padding-bottom: 20PX;
    }
    .time_line_Swiper_content_wr p {
        font-size: 16PX;
        width: 100%;
    }
    .work_in_rus_wrapper {
        margin-top: 70PX;
    }
    .work_in_rus_wrapper_text {
        font-size: 16PX;
        width: 100%;
    }
    .work_in_rus_map {
        margin-left: 0;
        margin-top: 40PX;
        width: 100%;
    }
    .work_in_rus_map span {
        display: block;
    }
    .work_with_prom {
        width: 100%;
        margin: 60PX auto -40PX auto;
    }
    .work_with_prom h2 {
        width: 100%;
    }
    .work_with_prom_text p {
        font-size: 20PX;
        padding: 0;
    }
}