/*buttons*/
.link {
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00a3c7;
}
.btn {
border: 1px solid #00a3c7;
border-radius: 2px;
padding: 30px 60px;
width: 400px;
height: 90px;
background-color: transparent;
color: #00a3c7;
}
.btn_more {
border: 1px solid #00a3c7;
border-radius: 2px;
padding: 30px 60px;
width: 260px;
height: 90px;
}