/*card*/
/*1440*/
/*bread_crumbs*/
.bread_crumbs {
    margin-top: 160PX;
}
.bread_crumbs_wrapper {
    padding: 0;
    margin: 0;
}
.bread_crumbs_wrapper li {
    display: inline-block;
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-right: 20PX;
opacity: 0.3;
}
.bread_crumbs_wrapper li a {
    text-decoration: none;
    color: #fff;
}
.bread_crumbs_wrapper li:last-child {
opacity: 1;
}
/*card_content*/
.card_content_wripper {
    display: flex;
    flex-direction: column;
}
.print_icon {
    align-self: flex-end;
    margin-top: 10PX;
    margin-bottom: 55PX;
}
.card_content_table_wripper {
    display: flex;
    flex-direction: row;
    max-width: 1120PX;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #00A3C7;
    border-radius: 2px;
}
.card_content_table_wripper_left_title {
    font-weight: 300;
font-size: 48PX;
line-height: 100%;
color: #00A3C7;
border-radius: 2px 0 0 0;
padding: 40PX;
width: 809PX;
height: 176PX;
border-bottom: 1px solid #00A3C7;
}
.card_content_table_wripper_left_sub_title {
    font-weight: 300;
font-size: 20PX;
line-height: 130%;
color: #00A3C7;
border-radius: 2px 0 0 0;
padding: 40PX;
width: 809PX;
height: 158PX;
}
.card_content_table_wripper_right {
    width: 313px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-left: #00A3C7 1px solid;
}
.card_content_table_wripper_right a {
    color: #00A3C7;
    text-decoration: none;
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
}
.card_content_table_wripper_left {
    display: flex;
    flex-direction: column;
}
/*accordeon*/
.accordion {
    width: 100%;
    max-width: 836PX;
    margin: 120PX auto 200PX auto;
  }
  
  .accordion-item {
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .accordion-button {
    padding: 0;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    color: #00A3C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
  }
  
  .accordion-button i.icon {
    float: right;
    font-size: 22PX;
  }
  
  /* Updated Accordion Content Styles */
  .accordion-content {
    padding: 0;  /* Set padding to 0 initially */
    max-height: 0;  /* Set max-height to 0 */
    overflow: hidden;  /* Hide overflow */
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;  /* Add transition effect */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .accordion-content p {
    font-size: 20PX;
  }
  
  /* New Class for Expanded Content */
  .accordion-content.show {
    max-height: 1000px;  /* Set an appropriate max-height */
    padding: 10px 0;  /* Reset the padding */
    font-weight: 300;
font-size: 20PX;
line-height: 130%;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;  /* Add transition effect */
  }
  
/*popup*/
.popup-link_card{
    display:flex;
    flex-wrap:wrap;
  }
  
  .popup-link a{
      background: #333;
      color: #fff;
      padding: 10px 30px;
      border-radius: 5px;
      font-size:17px;
      cursor:pointer;
      margin:20px;
      text-decoration:none;
  }
  
  .popup-container_card {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 17, 17, 0.61);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .popup-content_card {
      margin: auto;
      width: 60vw;
      height: 80vh;
  }
  .popup-content_card p{
      font-size: 17px;
      padding: 10px;
      line-height: 20px;
      margin-top: 90PX;
  }
  .popup-content_card a.close{
      color: #00A3C7;
      float: right;
      font-size: 28px;
      font-weight: bold;
      background: none;
      padding: 0;
      margin: 0;
      text-decoration:none;
  }
  
  .popup-content_card a.close:hover{
    color:#333;
  }
  
  .popup-content_card span:hover,
  .popup-content_card span:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
  .popup-container_card:target{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background: rgba(27, 27, 27, 0.9);;
  }
  
  .popup-container_card h3{
    margin:10px;
  }  
  /*gallery swiper*/
  .mySwiper2 {
    height: 460PX !important;
    max-width: 840PX !important;
  }
  .mySwiper {
    height: 65PX !important;
    margin-top: 22Px !important;
    max-width: 840PX !important;
  }
  
  .mySwiper2>.swiper-wrapper>.swiper-slide {
    height: 460PX !important;
    
  }
  .mySwiper2>.swiper-wrapper>.swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    
  }
  .card_nav_pag_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .swiper-button-next_card {
    bottom: 20PX !important;
    top: auto !important;
    width: 60PX !important;
    height: 15PX !important;
    bottom: -60PX !important;
    z-index: 10;
  }
  .swiper-button-prev_card {
    bottom: 20PX !important;
    top: auto !important;
    width: 60PX !important;
    height: 15PX !important;
    bottom: -60PX !important;
    z-index: 10;
  }
  .swiper-button-next_card::after {
    content: '' !important;
    background: url('../img/card/arrow_gallery.png') !important;
    transform: rotate(180deg);
    width: 60PX !important;
    height: 15PX !important;
    z-index: 15;
  }
  .swiper-button-prev_card::after {
    content: '' !important;
    background: url('../img/card/arrow_gallery.png') !important;
    width: 60PX !important;
    height: 15PX !important;
    z-index: 15;
  }
  .swiper-slide_thumb {
    width: 120PX;
    height: 65PX;
    border-radius: 2PX !important;
    overflow: hidden !important;
  }
  .swiper-slide_thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .swiper-pagination_card {
    bottom: 20PX !important;
    top: auto !important;
    color: #00A3C7 !important;
    bottom: -60PX !important;
    z-index: 5 !important;
  }
  .card_tech_options_wrapper {
    display: flex;
    flex-direction: column;
  }
  .card_tech_options_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
  }
  .card_tech_options_dot {
    height: 16PX;
    width: 100%;
    border-bottom: 1PX dotted #fff;
  }
  /*styles fo print*/
  @media print {
    body {
      color: #000;
    }
    .header__contacts {
      display: none;
    }
    .header_container {
      justify-content: center;
    }
    .bread_crumbs {
      display: none;
    }
    .print_icon {
      display: none;
    }
    .card_content_table_wripper {
      margin-top: 90PX;
      color: #000;
      border: 1px solid #000;
    }
    .card_content_table_wripper_right {
      display: none;
      border: none;
    }
    .card_content_table_wripper_left {
      width: 100%;
    }
    .card_content_table_wripper_left_title {
      width: 100%;
      color: #000;
      border-bottom: 1px solid #000;
    }
    .card_content_table_wripper_left_sub_title {
      color: #000;
    }
    .feedback_wrapper h2 {
      display: none;
    }
    .footer {
      display: none;
    }
    .btn {
      border: none;
      color: #000;
    }
    .accordion-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .icon {
      display: none;
    }
    .accordion-button {
      width: 270PX;
    }
    .accordion-button span {
      color: #000;
      font-size: 16PX;
      text-wrap: wrap;
    }
    .accordion-content.show {
      padding: 0;
      margin-top: -20PX;
      margin-bottom: 40PX;
      width: 700PX;
    }
    .accordion-content.show p {
      font-size: 16PX;
    }
    .catalog_after_feedback {
      display: none;
    }
    .accordion {
      margin: 120PX auto 0PX auto;
    }
    .logo img {
      filter: grayscale(100%);
    }
    .card_tech_options_dot {
      border-bottom: 1PX dotted #333;
    }
  }
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
.card_content_wripper {
    align-items: center;
}
.card_content_table_wripper {
    flex-direction: column;
    max-width: 720PX;
    width: 100%;
}
.card_content_table_wripper_left {
    width: 100%;
}
.card_content_table_wripper_left_title {
    width: 100%;
    font-weight: 300;
font-size: 24PX;
line-height: 100%;
height: 100PX;
padding: 40PX;
display: flex;
flex-direction: column;
align-items: center ;
}
.card_content_table_wripper_left_sub_title {
    font-weight: 300;
font-size: 16PX;
line-height: 130%;
height: 145PX;
width: 100%;
max-width: 720PX;
padding: 40PX;
display: flex;
flex-direction: column;
align-items: center ;
}
.card_content_table_wripper_right {
    height: 90PX;
    border-left: none;
    border-top: 1px solid #00A3C7;
    width: 100%;
}
.print_icon {
    align-self: center;
    margin-top: 40PX;
    margin-bottom: 35PX;
}
.bread_crumbs {
    margin-top: 100PX;
}
.accordion {
    margin: 100PX auto 110PX auto;
}
.accordion-button {
    font-size: 16PX;
}
.accordion-content p {
    font-size: 16PX;
}
/*gallery swipper*/
.popup-content_card {
    margin: auto;
    width: 99vw;
    height: 80vh;
}
.mySwiper2 {
    height: 380PX !important;
  }
  .mySwiper {
    height: 65PX !important;
  }
  .mySwiper2>.swiper-wrapper>.swiper-slide {
    height: 380PX !important;
  }
  .card_tech_options_wrapper {
    display: flex;
    flex-direction: column;
  }
  .card_tech_options_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
  }
  .card_tech_options_dot {
    height: 16PX;
    width: 100%;
    border-bottom: 1PX dotted #fff;
  }
}
/*360*/
@media only screen and (max-width: 767px) {
    .card_content_wripper {
        align-items: center;
    }
    .card_content_table_wripper {
        flex-direction: column;
        max-width: 720PX;
        width: 100%;
    }
    .card_content_table_wripper_left {
        width: 100%;
    }
    .card_content_table_wripper_left_title {
        width: 100%;
        font-weight: 300;
    font-size: 24PX;
    line-height: 100%;
    height: 150PX;
    padding: 40PX;
    display: flex;
    flex-direction: column;
    align-items: center ;
    }
    .card_content_table_wripper_left_sub_title {
        font-weight: 300;
    font-size: 16PX;
    line-height: 130%;
    height: 250PX;
    width: 100%;
    max-width: 720PX;
    padding: 30PX;
    display: flex;
    flex-direction: column;
    align-items: center ;
    }
    .card_content_table_wripper_right {
        height: 90PX;
        border-left: none;
        border-top: 1px solid #00A3C7;
        width: 100%;
    }
    .print_icon {
        align-self: center;
        margin-top: 40PX;
        margin-bottom: 35PX;
    }
    .bread_crumbs {
        margin-top: 100PX;
    }
    .accordion {
        margin: 100PX auto 110PX auto;
    }
    .accordion-button {
        font-size: 16PX;
    }
    .accordion-content p {
        font-size: 16PX;
    }
    .bread_crumbs_wrapper li {
        margin-right: 0;
        font-size: 12PX;
    }
    .bread_crumbs_wrapper li a {
        font-size: 12PX;
    }
    /*gallery swipper*/
.popup-content_card {
    margin: auto;
    width: 100vw;
    height: 80vh;
}
.mySwiper2 {
    height: 180PX !important;
  }
  .mySwiper {
    height: 65PX !important;
    margin-top: 0PX !important;
  }
  .mySwiper2>.swiper-wrapper>.swiper-slide {
    height: 180PX !important;
  }
  .card_tech_options_wrapper {
    display: flex;
    flex-direction: column;
  }
  .card_tech_options_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
  }
  .card_tech_options_dot {
    height: 16PX;
    width: 100%;
    border-bottom: 1PX dotted #fff;
  }
}
.projct {
  margin-top: 90PX;
  background-color: red;
}