/*catalog*/
/*1440*/
.catalog {
  margin-top: 140PX;
  margin-bottom: 190PX;
}
.grid-sizer {
  width: 20%;
}

.grid-item {
width: 18%;
height: 360PX;
margin: 1%;
border: 1px solid #00A3C7;
border-radius: 2px;
opacity: 1;
float: left;
transition: opacity 0.8s ease; /* Плавное появление и исчезновение */
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}
a .grid-item {
  text-decoration: none;
  color: #00A3C7;
}
.grid-item--width2 {
width: 38%;
}
.grid-item--width3 {
width: 58%;
}
.grid-item:hover> .card_hover_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  animation: anim 2.5s forwards;
}
.grid-item>.card_img {
  width: 260PX;
  height: 360PX;
  position: absolute;
}
.grid-item>.card_img img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
.grid-item--width3>.card_img {
  width: 100%;
  height: 100%;
}
.grid-item--width3>.card_img img {
  width: 100%;
  height: 100%;
}
.grid-item {
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.grid-item>.card_title_wrapper {
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.blue_card_catalog>.card_title_wrapper {
  color: #000;
}
.grid-item--width3>.card_img {
  align-self: center;
  margin: 0;
  width: 240px;
  height: 135px;
  position: relative;
}
.grid-item--width3>.card_img img {
  margin: 0;
}
.catalog_after_feedback {
  height: 200PX;
  width: 100%;
}
.catalog_after_feedback {
  height: 300PX;
  width: 100%;
}
.catalog h1 {
 display: none;
}

/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .grid-sizer {
    width: 25%;
  }
  .grid-item {
    width: 23%;
    height: 240PX;
    margin: 1%;
    }
  .grid-item--width2 {
    width: 23%;
    }
    .grid-item--width3 {
    width: 48%;
    }
    .grid-item>.card_title_wrapper {
      font-size: 14PX;
    }
    .grid-item>.card_img {
      width: 160PX;
      height: 270PX;
    }
    .catalog_after_feedback {
      height: 100PX;
      width: 100%;
    }
    .catalog_after_feedback {
      height: 200PX;
      width: 100%;
    }
    .catalog {
      margin-top: 90PX;
      margin-bottom: 220PX;
  }
  .catalog h1 {
    font-weight: 300;
  font-size: 20PX;
  line-height: 110%;
  display: block;
  margin-bottom: 30PX;
  padding-left: 5px;
  }
}

/*360*/
@media only screen and (max-width: 767px) {
  .grid-sizer {
    width: 50%;
  }
  .grid-item {
    width: 48%;
    height: 240PX;
    }
  .grid-item--width2 {
    width: 48%;
    }
    .grid-item--width3 {
    width: 98%;
    }
    .grid-item>.card_title_wrapper {
      font-size: 14PX;
    }
    .grid-item>.card_img {
      width: 160PX;
      height: 270PX;
    }
    .catalog {
      margin-top: 90PX;
      margin-bottom: 220PX;
  }
  .catalog h1 {
    font-weight: 300;
  font-size: 20PX;
  line-height: 110%;
  display: block;
  margin-bottom: 30PX;
  padding-left: 5px;
  }
  .catalog_after_feedback {
    height: 100PX;
    width: 100%;
  }
  .catalog_after_feedback {
    height: 200PX;
    width: 100%;
  }
}