/*index*/
/*1440*/
/*swiper*/
.swiper {
    margin-top: 60px;
    width: 100%;
    height: 680px;
  }
  .swiper-pagination {
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    background-color: #323232 !important;
    width: 19% !important;
    border-radius: 0 !important;
    height: 3px !important;
    z-index: 0;
  }
  .swiper-pagination-bullet-active {
    width: 19% !important;
    height: 3px !important;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .swiper-pagination-bullet-active::before {
    position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      will-change: transform;
      animation: 6s progress ease infinite;
      z-index: 50;
    background-color: #fff !important;
  }
  
  @keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
  } ;
  .swiper_wr {
    display: flex;
    flex-direction: column;
  }
 .swiper_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 90px;
  justify-content: space-between;
 } 
 .swiper_container_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
  
 }
 .swiper_container_left h2 {
  font-weight: 300;
font-size: 46PX;
line-height: 100%;
padding: 0;
margin: 0;
text-wrap: wrap;
 }

 .swiper_container_left_title {
  font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
max-width: 420px;
 }
 .swiper_container_left_sub_title_left,
 .swiper_container_left_sub_title_right {
  font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5);
 }
 .swiper_container_left_sub_title_wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
 }
 .swiper_container_left_sub_title_right {
  margin-left: 28px;
 }
 .swiper_container_right {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 11px;
justify-content: end;
  margin-right: 2px;
 }
 
.normal_card {
  width: 260PX;
  height: 430PX;
  border: 1px solid #00A3C7;
border-radius: 2px;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}

.card_arrow{
  align-self:flex-end;
  padding: 16px 16px 0 0;
}
.blue_card {
  width: 260PX;
  height: 430PX;
  color: #1b1b1b;
  background-color: #00A3C7;
  display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}

.card_title {
  padding: 20px;
}

.card_img {
  align-self:flex-end;
}

.card_hover_img {
  visibility: hidden;
  position: absolute;
  z-index: 50;
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.card_link {
  text-decoration: none;
  color: #00A3C7;
}
.swiper_container_right_card {
  position: relative;
}
.swiper_container_right_card:hover img {
  visibility: visible;
}
.choocookie_wrapper {
  margin-top: 100px;
  align-self: flex-end;
 
  font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
border-radius: 2px;
}
.choocookie_wrapper span {
  color: #fff;
  opacity: 0.3;
}

.choocookie_wrapper a {
  color: #fff;
}
.ok {
  color: #00A3C7 !important;
  text-decoration: none;
  opacity: 1 !important;
}
.wiper-slide_next_wrapper {
  display: flex;
  flex-direction: row;
}
.next_slide_img_wr {
  width: 600px;
  height: 550px;
  height: auto;
}
.next_slide_img_wr img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.swiper-slide_next_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
}
.swiper_container_left_next_slide {
  width: 50%;
  font-weight: 300;
font-size: 48px;
line-height: 100%;
margin-top: 30px;
}

.swiper_container_left_next_slide a {
  font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00A3C7;
text-decoration: none;
}
.swiper_container_right_next_slide {
  width: 50%;
  display: flex;
}
.special_slider_slide_4 {
  width: 120% !important;
  height: 120% !important;
  margin: 20px 0 0 -130px !important;
}
.special_slider_slide_5 {
  width: 70% !important;
  margin: 20px 0 0 100px;
}
/*catalog on index*/
.container_catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.container_catalog_item_wr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.container_catalog_item_wr:hover> .card_hover_img {
  visibility: visible;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15PX;
  justify-content: flex-start;
  column-count: 5;
  margin-bottom: 15PX;
}
.items:last-child {
  justify-content: flex-start;
}
.last_card {
  align-self: flex-start;
}
.hidden {
  opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.8s ease, visibility 0s 0.8s, max-height 0s 0.8s; /* Плавное появление и исчезновение */
  }

.item {
  color: #00A3C7;
  text-decoration: none;
  width: 19%;
  height: 360PX;
  border: 1px solid #00A3C7;
border-radius: 2px;
  opacity: 1;
  transition: opacity 0.8s ease; /* Плавное появление и исчезновение */
}
.x2 {
  flex-basis: 39%;
}
.x3 {
  flex-basis: 59%;
}
.blue_card_catalog {
  background-color: #00A3C7;
  color: #1b1b1b;
}
.container_catalog_item_wr>.card_img {
  margin-top: 50PX;
  width: 195PX;
  height: 275PX;
  position: relative;
  overflow: hidden;
}
.container_catalog_item_wr>.card_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}
.container_catalog_item_wr>.card_title {
  margin-top: -100PX;
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.x2>.container_catalog_item_wr>.card_title {
  width: 50%;
}
.x3>.container_catalog_item_wr>.card_img {
  align-self: center;
  margin: 0;
  width: 240PX;
  height: 135PX;
}
#toggleBtn {
  width: 260PX;
  font-size: 16PX;
  border-radius: 2px;
padding: 30PX 60PX;
height: 90PX;
text-transform: uppercase;
}
#toggleBtn:hover {
  cursor: pointer;
}
.card_title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card_title_right {
  padding: 20px;
}
.catalog_on_index_title_wr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
justify-content: space-between;
margin-top: 190px;
margin-bottom: 20px;
}
.catalog_on_index_title_wr h3 {
  font-weight: 400;
  font-size: 16PX;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.catalog_on_index_title_wr a {
  text-decoration: none;
}
.catalog_on_index_title_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #00A3C7;
  text-transform: uppercase;
  padding-top: 10px;
}
.catalog_on_index_title_link>.card_arrow {
  padding: 0;
  margin-left: 20px;
}
.white_title {
  color: #fff;
}
/*our_cap*/
.our_cap {
  margin-top: 250PX;
  margin-bottom: 150PX;
}
.our_cap_wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.our_cap_wrapper h2 {
  width: 264PX;
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-top: 0;
}
.our_cap_card_wr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1120PX;
}
.our_cap_card {
  width: 264PX;
  height: 100PX;
  border-bottom: 1px solid #fff;
  margin-left: 22PX;
  margin-bottom: 140PX;
}
.our_cap_card_last {
  color: #00A3C7;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #00A3C7;
}
.our_cap_card_last img {
  width: 38PX;
  height: 38PX;
}
/*feedback*/

.feedback_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1120PX;
}
.feedback_wrapper h2 {
  width: 200PX;
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-right: 80PX;
margin-top: 0;
}
.feedback_wrapper a {
  text-decoration: none;
  margin-left: 22PX;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
/*appeal*/
.appeal {
  margin-top: 300PX;
  margin-bottom: 300PX;
}
.appeal_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 840PX;
  margin: 0 auto;
}
.appeal_text_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appeal_text_left {
  width: 29PX;
  height: 38PX;
}
.appeal_text_right {
  width: 29PX;
  height: 38PX;
  transform: rotate(180deg);
  align-self: flex-end;
}
.appeal_text {
  max-width: 550PX;
  font-weight: 300;
font-size: 44PX;
line-height: 100%;
color: #00A3C7;
}
.sign {
  width: 550PX;
  margin: 0 auto;
  margin-top: 70PX;
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #00A3C7;
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
/*swiper*/
  .swiper_container_right a:first-child {
  display: none;
}
.swiper_container_right {
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  width: 50%;
 }
 .normal_card {
  width: 170PX;
  height: 250PX;
}

.blue_card {
  width: 170PX;
  height: 250PX;
}
.swiper_container_left h2 {
  font-weight: 300;
font-size: 24px;
}
.swiper_container_left {
  height: 260px;
}
.choocookie_wrapper {
  display: none;
}
.swiper_container {
  padding-top: 30px;
}
.swiper {
  height: 350px;
}
.swiper-pagination-bullet-active {
  width: 18% !important;
}
.swiper_container_left_next_slide {
  margin-top: 0px;
}
.swiper_container_left_next_slide a {
  display: none;
}
.next_slide_img_wr img {
  margin: -10px 0 0 60px;
  width: 70%;
}
.special_slider_slide_4 {
  width: 100% !important;
  margin: 0 !important;
}
.special_slider_slide_5 {
  width: 60% !important;
  margin: 0px 0 0 100px !important;
}
/*catalog on index*/
.catalog_on_index_title_wr {
  margin-top: 100px;
  margin-bottom: 40px;
}
.items {
  gap: 9PX;
}
.item {
  height: 240PX;
  width: 24%;
}
.x2 {
  flex-basis: 24%;
}
.x2>.container_catalog_item_wr>.card_title {
  width: 100%;
}
.x3 {
  flex-basis: 49%;
}
.card_title {
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
padding: 10px;
word-break: break-word;
}
.card_title_right {
  padding: 10px;
}
.card_arrow {
  padding: 8px 8px 0 0;
}
.container_catalog_item_wr>.card_img {
  width: 140PX;
  height: 190PX;
}
#toggleBtn {
  width: 350PX;
}
/*our_cap*/
.our_cap {
  margin-top: 90PX;
  margin-bottom: 60PX;
}
.our_cap_wrapper {
  flex-direction: column;
}
.our_cap_wrapper h2 {
  padding-bottom: 60PX;
  margin-bottom: 0;
}
.our_cap_card {
  margin-left: 0;
  margin-right: 2%;
  width: 48%;
  height: 90PX;
  margin-bottom: 80PX;
}
.our_cap_card_last {
  width: 100%;
  justify-content: space-between;
}
/*feedback*/
.feedback_wrapper {
  flex-direction: column;
}
.feedback_wrapper a {
  margin-left: 0;
  width: 100%;
}
/*appeal*/
.appeal {
  margin-top: 140PX;
  margin-bottom: 200PX;
}
.appeal_wrapper {
  max-width: 535PX;
}
.appeal_text {
  font-weight: 300;
font-size: 22PX;
line-height: 100%;
padding: 0 60PX;
}

.appeal_text_left img {
  width: 24PX;
  height: 28PX;;
}
.appeal_text_right img {
  width: 22PX;
  height: 28PX;;
}
.sign {
  max-width: 535PX;
  padding: 0 90PX;
  margin-top: 80PX;
}
}

/*360*/
@media only screen and (max-width: 767px) {
  /*swiper*/
.swiper_container {
  flex-direction: column;
}
.swiper_container_left h2 {
  font-weight: 300;
font-size: 22PX;
line-height: 110%;
}
.swiper_container_left {
  width: 100%;
  height: 180px;
}
.swiper_container_right {
  width: 100%;
  padding-top: 40px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  gap: 2px;
}
.normal_card {
  width: 160PX;
  height: 240PX;
}
.swiper_wr {
  overflow: hidden;
}
.blue_card {
  width: 160PX;
  height: 240PX;
}
.swiper_container {
  padding-top: 20px;
}
.swiper_container_right a:first-child {
  display: none;
}
.swiper_container_left_title {
  font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
padding-bottom: 0;
margin-bottom: 0;
}
.choocookie_wrapper {
  display: none;
}
.swiper {
  height: 540px;
}
.swiper-pagination-bullet {
  width: 17% !important;
}
.swiper_container_left a {
  display: none;
}
.swiper-slide_next_wrapper {
  flex-direction: column;
  align-items: center;
}
.swiper_container_right_next_slide {
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.swiper-slide_next_wrapper {
  margin-top: 0;
}
.swiper_container_left_next_slide {
  margin-top: 80px;
}
.next_slide_img_wr img {
  width: 80%;
}
.special_slider_slide_4 {
  width: 100% !important;
  margin: 30px 0 0 0 !important;
}
/*catalog on index*/
.catalog_on_index_title_wr {
  margin-top: 100px;
  margin-bottom: 40px;
}
.items {
  gap: 9PX;
}
.item {
  height: 240PX;
  width: 24%;
}
.x2 {
  flex-basis: 24%;
}
.x2>.container_catalog_item_wr>.card_title {
  width: 100%;
}
.x3 {
  flex-basis: 49%;
}
.card_title {
  font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
padding: 10px;
word-break: break-word;
}
.card_title_right {
  padding: 10px;
}
.card_arrow {
  padding: 8px 8px 0 0;
}
.container_catalog_item_wr>.card_img {
  width: 140PX;
  height: 190PX;
}
#toggleBtn {
  width: 350PX;
}
/*our_cap*/
.our_cap {
  margin-top: 90PX;
  margin-bottom: 60PX;
}
.our_cap_wrapper {
  flex-direction: column;
}
.our_cap_wrapper h2 {
  padding-bottom: 60PX;
  margin-bottom: 0;
}
.our_cap_card {
  margin-left: 0;
  margin-right: 2%;
  width: 48%;
  height: 90PX;
  margin-bottom: 80PX;
}
.our_cap_card_last {
  width: 100%;
  justify-content: space-between;
}
/*feedback*/
.feedback_wrapper {
  flex-direction: column;
}
.feedback_wrapper a {
  margin-left: 0;
  width: 100%;
}
/*appeal*/
.appeal {
  margin-top: 140PX;
  margin-bottom: 200PX;
}
.appeal_wrapper {
  max-width: 320PX;
}
.appeal_text {
  font-weight: 300;
font-size: 22PX;
line-height: 100%;
padding: 0 60PX;
}

.appeal_text_left img {
  width: 24PX;
  height: 28PX;;
}
.appeal_text_right img {
  width: 22PX;
  height: 28PX;;
}
.sign {
  max-width: 320PX;
  padding: 0 90PX;
  margin-top: 80PX;
}
}