/*projects*/

/*1440*/
.projct {
    margin-top: 150PX;
}
.projct_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 830PX;
    margin: 0 auto;
}
.projects_nav {
    position: fixed;
    left: 15PX;
    top: 140PX;
}
.project_content_wrapper {
    width: 100%;
    max-width: 690PX;
}
.projects_nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300PX;
    padding: 0;
}
.projects_nav ul li {
    list-style-type: none;
    
    margin: 0 0 32PX 0;
}
.projects_nav ul li:hover, li:active {
    border-left: #00A3C7 1px solid;
    padding: 0 30PX;
}
.projects_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.projects_nav ul li a:hover,a:active {
    color: #00A3C7;
}
.project_content_wrapper_img {
    width: 690PX;
    height: 380PX;
}
.project_content_wrapper_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project_content_info_wr {
    margin-top: 60PX;
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.07em;
text-transform: uppercase;
}
.project_content_wrapper h1 {
    font-weight: 300;
font-size: 48PX;
line-height: 100%;
margin-top: 40PX;
}
.project_content_container {
    margin-top: 60PX;
}
.project_content_container h2 {
    font-weight: 400;
font-size: 16PX;
line-height: 130%;
letter-spacing: 0.07em;
text-transform: uppercase;
}
.project_content_container_text {
    margin-top: 30PX;
}
.project_content_container_text p {
    font-weight: 300;
font-size: 20PX;
line-height: 130%;
}
.mySwiperProj {
    height: auto !important;
    
}
.projct_nav_pag_wrapper {
    padding-bottom: 260PX !important;
    height: 40PX !important;
    display: flex;
    flex-direction: row-reverse;
}
.swiper-button-next_proj, .swiper-button-prev_proj {
    position: relative !important;
    margin: 0 -30PX;
}
.swiper-pagination_proj {
    position: relative !important;
    margin-top: -25PX;
}
.swiper-slide_projct_gallery {
    width: 690PX !important;
    height: 380PX !important;
}
.swiper-slide_projct_gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 999;
}
.HidGallery {
    height: auto !important;
    margin-top: 10PX !important;
    width: 100% !important;
    max-width: 840PX !important;
}
.HidGallery2 {
    height: auto !important;
    width: 100% !important;
    max-width: 840PX !important;
}
.card_nav_pag_wrapper {
    width: 100% !important;
    max-width: 840PX !important;
}

/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .projects_nav {
        display: none;
    }
    .projct_inner {
        width: 100%;
    }
    .project_content_wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .swiper-slide_projct_gallery {
        width: 100% !important;
    }
}
/*360*/