@import '../../node_modules/normalize.css/normalize.css';
// @import '../../node_modules/swiper/swiper.scss';

@import './breakpoints.scss';
@import './mixins.scss';



// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: "Roboto Mono", sans-serif;
$font-color: #fff;
$base-transition: all 230ms ease;

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: $font-family;
    color: $font-color;
    background-color: #1B1B1B;
    font-size: 16PX;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include respond-from('laptop-hdpi') {
        font-size: 18PX;
    }
    @include respond-from('2K') {
        font-size: 21PX;
    }
    @include respond-from('UHD') {
        font-size: 34PX;
    }
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    width: 100%;
    max-width: 1440PX;
    padding: 0 20px;
    margin: 0 auto;
    transition: $base-transition;
    @include respond-to('medium') {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        max-width: 768PX;
    }
    }
    /*360*/
    @media only screen and (max-width: 767px) {
        .container {
            max-width: 100%;
        }
    }
// ------------------------------------
//      B L O C K S
// ------------------------------------

@import './blocks/typography.scss';
@import './blocks/buttons.scss';
@import './blocks/icons.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/404.scss';
@import './blocks/about_us.scss';
@import './blocks/card.scss';
@import './blocks/catalog.scss';
@import './blocks/contact_us.scss';
@import './blocks/index.scss';
@import './blocks/politics.scss';
@import './blocks/projct.scss';
.logo {
    display: block;
    max-width: 200px;
    z-index: 50;
    &__img {
        width: 100%;
    }
}

// ------------------------------------
//      S E C T I O N S
// ------------------------------------
.loaderArea {
    background: #1b1b1b;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
  }
  .loader {
    height: 109PX;
    width: 124PX;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    background: url('../img/loader.png') no-repeat;
    animation: 2s animate infinite;
  }
   
   
  @keyframes animate {
    0% {
      transform: rotate(0);
    }
     
    100% {
      transform: rotate(-360deg);
    }
  }
  