<footer class="footer">
    <div class="container">
        <div class="footer_container">
            <div class="copyright">
                <p>© 2018 ООО "СИРИУС-МК"</p>
                <p>Энергия свершений</p>
            </div>
            <div class="footer_wrapper">
                <div class="footer_contacts">
                    <p>8 812 330-10-23</p>
                    <p>info@s-mk.spb.ru</p>
                </div>
                <div class="footer_addr">
                    <p>198152, Санкт-Петербург</p>
                    <p>ул. Автовская, д. 16, литер А</p>
                    <p>пом. 5Н, 4 этаж, каб. 415</p>
                </div>
            </div>
        </div>
    </div>
</footer>